body {
    
    background-color: #eae7dc;
    font-family: 'Baloo Paaji 2', cursive, sans-serif;

}

/*-------Index */

.navbar {
    background-color: #eae7dc;

}

.epictetus { 
    width: 100%;

}

.footer-container a{
    text-decoration: none;
    color: inherit;
}